<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.amisa.wiziguard"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<application
			android:allowBackup="true"
			android:icon="@drawable/logo"
			android:label="WiziGuard"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<uses-sdk
				android:minSdkVersion="8"
				android:targetSdkVersion="19"/>

		<uses-permission android:name="android.permission.INTERNET"/>
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".register"
				android:label="SIGN UP">
			<intent-filter>
				<action android:name="com.example.amisa.wiziguard.register"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".login"
				android:label="LOGIN">
			<intent-filter>
				<action android:name="com.example.amisa.wiziguard.login"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".location"
				android:label="LOCATION">
			<intent-filter>
				<action android:name="com.example.amisa.wiziguard.location"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
	</application>

</manifest>